@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/Scripts/Dashboard/Agents.js"></script>

<h2>Agents
</h2>

<div id="divLogs"></div>
<div id="agent">
    <div id="divMachineStatusChart" style="height: 500px;"></div>
    <div id="divMachineStatus"></div>
</div>
