@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script type="text/javascript" src="~/Scripts/json-to-table.js"></script>
<script src="~/Scripts/Dashboard/Index.js"></script>

<style type="text/css" media="screen">
    #editor {
        width: *;
        height: 150px;
    }
</style>

<table style="width: 100%">
    <tr>
        <td style="width: 100%"></td>
    </tr>
    <tr>
        <td>
            <select id="range">
                <option>This Week</option>
                <option>This Month</option>
                <option>This Year</option>
            </select>
            <a href="javascript:;" id="btnNewQuery">New Query</a>
            <a href="javascript:;" id="btnQuery">Query</a>
        </td>
    </tr>
    <tr>
        <td>
            <div id="queryFilters"></div>
            <pre id="editor">
{}</pre>
        </td>
    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 40%; vertical-align: top"></td>
        <td style="width: 60%; vertical-align: top"></td>
    </tr>

    <tr>
        <td valign="top">
            <div id="divDash">
                <div id="divTimelineChart" style="height: 190px;"></div>
                <div id="divTimelineControl" style="height: 60px;"></div>
                <div id="divDashTable"></div>
            </div>
            <div style="padding: 10px">
                <div id="divTypeDensityChart"></div>
                <div id="divTypeDensity"></div>
            </div>
            <div style="padding: 10px">
                <div id="divMessageDensityChart"></div>
                <div id="divMessageDensity"></div>
            </div>
        </td>
        <td valign="top">
            <div id="divLogs"></div>
        </td>
    </tr>
</table>
