@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/Scripts/Dashboard/Index.js"></script>
<table style="width: 100%">
    <tr>
        <td style="width: 100%"></td>
    </tr>
    <tr>
        <td>
            <div id="divDash">
                <div id="divTimelineChart" style="height: 190px;"></div>
                <div id="divTimelineControl" style="height: 30px;"></div>
            </div>
        </td>
    </tr>
    <tr>
        <div id="divDashTable"></div>

    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 20%"></td>
        <td style="width: 80%"></td>
    </tr>

    <tr>
        <td>
            <div style="padding: 10px">
                <div id="divTypeDensityChart"></div>
                <div id="divTypeDensity"></div>
            </div>
            <div style="padding: 10px">
                <div id="divMessageDensityChart"></div>
                <div id="divMessageDensity"></div>
            </div>
        </td>
        <td>
            <div id="divLogs"></div>
        </td>
    </tr>
</table>

<table style="width: 100%">
    <tr>
        <select>
            <option>This Week</option>
            <option>This Month</option>
            <option>This Year</option>
        </select>
    </tr>
    <tr>
        <textarea id="" style="width: 100%; height: 20px">{ }</textarea>
    </tr>
    <tr>
        <a href="#" id="btnRanges">Filter Ranges</a>
    </tr>
</table>
