@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script type="text/javascript" src="~/Scripts/json-to-table.js"></script>
<script src="~/Scripts/Dashboard/Index.js"></script>

<style type="text/css" media="screen">
    #editor {
        width: *;
        height: 150px;
    }
</style>

<table style="width: 100%">
    <tr>
        <td style="width: 100%"></td>
    </tr>
    <tr>
        <td>
            <a href="javascript:;" id="btnNewQuery">New Query</a>

            <select id="range">
                <option value="1">This Day</option>
                <option value="7">This Week</option>
                <option value="14">This 2 Week</option>
                <option value="30">This Month</option>
            </select>

            <a href="javascript:;" id="btnQuery">Query</a>
        </td>
    </tr>
    <tr>
        <td>
            <pre id="editor">
{

    Type : /.*/

}</pre>
        </td>
    </tr>
</table>
<div id="queryFilters"></div>
<div id='hits'></div>
<table style="width: 100%">
    <tr>
        <td style="width: 30%; vertical-align: top"></td>
        <td style="width: 90%; vertical-align: top"></td>
    </tr>

    <tr>
        <td valign="top">
            <div id="divDash">
                <div id="divTimelineChart" style="height: 100px;"></div>
                <div id="divTimelineControl" style="height: 30px;"></div>
            </div>
            <div style="padding: 10px">
                <div id="divTypeDensityChart" style="display:flexbox"></div>
                <div id="divTypeDensity" style="display:flexbox"></div>

                <div id="divMessageDensityChart" style="display:flexbox"></div>
                <div id="divMessageDensity"></div>
            </div>
        </td>
        <td valign="top">
            <div id="divLogs"></div>
        </td>
    </tr>
</table>

<div id="divDashTable"></div>

<div id="loading" style="left: 0; right: 0; top: 0; bottom: 0; padding: 100px; position: absolute; text-align: center; vertical-align: central; alignment-baseline: central; background-color: black; color: white; z-index: 1000; opacity: 0.8; font-size: 24pt">
    <p>
        Querying...    
    </p>
    <img src="~/Content/q.png" />
</div>
