@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script type="text/javascript" src="~/Scripts/json-to-table.js"></script>
<script src="~/Scripts/Dashboard/Index.js"></script>

<style type="text/css" media="screen">
    #editor {
        width: *;
        height: 150px;
    }
</style>

<div id="queryFilters"></div>

<table style="width: 100%">
    <tr>
        <td style="width: 30%; vertical-align: top"></td>
        <td style="width: 90%; vertical-align: top"></td>
    </tr>

    <tr>
        <td valign="top">
            <div id="divDash">
                <div id="divTimelineChart" style="height: 100px;"></div>
                <div id="divTimelineControl" style="height: 30px;"></div>
            </div>
            <div style="padding: 10px">
                <div id="divTypeDensityChart" style="display: flexbox"></div>
                <div id="divTypeDensity" style="display: flexbox"></div>

                <div id="divMessageDensityChart" style="display: flexbox"></div>
                <div id="divMessageDensity"></div>

                <div id="divIpsDensityChart" style="display: flexbox"></div>
                <div id="divIpsDensity"></div>

                <div id="divHostsDensityChart" style="display: flexbox"></div>
                <div id="divHostsDensity"></div>
            </div>
        </td>
        <td valign="top">
            <div id="divLogs"></div>
            <a href="javascript:;" id="btnPrev"><< Prev</a> | <a href="javascript:;" id="btnNext">Next >></a>
        </td>
    </tr>
</table>

<div id="divDashTable"></div>

<div id="loading" style="left: 0; right: 0; top: 0; bottom: 0; padding: 100px; position: absolute; text-align: center; vertical-align: central; alignment-baseline: central; background-color: black; color: white; z-index: 1000; opacity: 0.8; font-size: 24pt">
    <p>
        Querying...    
    </p>
    <img src="~/Content/q.png" />
</div>
