@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/Scripts/Dashboard/Index.js"></script>

<div id="barHead">
    <select>
        <option>This Month</option>
    </select>
    <input type="text" value="{}" style="width: 600px" />
</div>
<div id="divDash">
    <div id="divTimelineChart" style="width: 100%; height: 120;"></div>
    <div id="divTimelineControl" style="width: 100%; height: 60px;"></div>
    <div id="divDashTable"></div>
</div>
<button id="btnRanges">Get Ranges</button>
<div id="divRanges"></div>

<table style="width: 100%">
    <tr>
        <td style="width: 30%"></td>
        <td style="width: 70%"></td>
    </tr>

    <tr>
        <td>
            <div style="padding: 10px">
                <div id="divTypeDensityChart"></div>
                <div id="divTypeDensity"></div>
            </div>
            <div style="padding: 10px">
                <div id="divMessageDensityChart"></div>
                <div id="divMessageDensity"></div>
            </div>
        </td>
        <td>
            <div id="divLogs"></div>
        </td>
    </tr>
</table>
