@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/Scripts/Dashboard/Index.js"></script>
<style type="text/css" media="screen">
    #editor {
        width: *;
        height: 150px;
        /*margin: 0;
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;*/
    }
  </style>
<table style="width: 100%">
    <tr>
        <td style="width: 100%"></td>
    </tr>
    <tr>
        <td>
            <div id="divDash">
                <div id="divTimelineChart" style="height: 190px;"></div>
                <div id="divTimelineControl" style="height: 60px;"></div>
            </div>
        </td>
    </tr>
    <tr>
        <div id="divDashTable"></div>

    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 20%; vertical-align:top"></td>
        <td style="width: 60%; vertical-align:top"></td>
        <td style="width: 20%; vertical-align:top"></td>
    </tr>

    <tr>
        <td valign="top">
            <div style="padding: 10px">
                <div id="divTypeDensityChart"></div>
                <div id="divTypeDensity"></div>
            </div>
            <div style="padding: 10px">
                <div id="divMessageDensityChart"></div>
                <div id="divMessageDensity"></div>
            </div>
        </td>
        <td valign="top">
            <div id="divLogs"></div>
        </td>
        <td valign="top">
            <div style="padding: 15px">
                <b>TimeStamp</b>
                <p id="txtTimeStamp">---</p>
                <b>Type</b>
                <p id="txtType">---</p>
                <b>Message</b>
                <p id="txtMessage">---</p>
                <b>Object</b>
                <p id="txtObject">---</p>
            </div>
        </td>
    </tr>
</table>

<table style="width: 100%">
    <tr>
        <td style="width: 80%"></td>
        <td style="width: 20%"></td>
    </tr>
    <tr>
        <td>
 <pre id="editor">
{$and : 
[
    { TimeStamp : {$gte : new Date (1999, 1,1, 0, 0, 0) } },
    { TimeStamp : {$lte : new Date (2999, 1, 1, 0, 0, 0) } },
    { 'Object.y' : 5}, 
    { Message : /.*exception.*/},
    { Type : /job/ }
]
}</pre>
        </td>
        <td>
            <p>
            <select id="range">
                <option>This Week</option>
                <option>This Month</option>
                <option>This Year</option>
            </select>
            </p>

            <a href="javascript:;" id="btnQuery">Query</a>
        </td>
    </tr>
</table>
