<div class="shadow" style="display: block;"><span></span></div>

<div id="header" class="fixed" style="display: block; top: 0; padding: 10px">
    <div class="inner">
        <div style="width: 100%; color: steelblue; font-family: monospace; font-size: 10pt; text-align: center">prettylog (alpha)</div>
        <div style="width: 100%; color: steelblue; font-family: monospace; font-size: 10pt; text-align: center">
            <a href="javascript:toggleQueryPanel();">Toggle Panel</a> |
            <a href="/">Dashboard</a> |
            <a href="/Dashboard/Agents">Agents</a> |
            <a href="/Dashboard/Settings">Settings</a> |
            <a href="#">About</a>
        </div>

    </div>
    <div class="shadow" style="display: block;"><span></span></div>
</div>
